.root-container {
    display: grid;
    grid-auto-rows: auto auto auto;
}

.container-3-column {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.container-2-column {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.icon {
    max-width: 150px;
    max-height: 150px;
}

.max-width-800px {
    max-width: 70%;
}

.max-width-1024px {
    max-width: 1024px;
}

.image-contain {
    /*object-fit: contain;*/
}

    .image-contain img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
